# 本文件由 tools/gen_ide_config.py 自动生成，请勿手工修改
# 数据来源：application/Project/ota_app.uvproj 的 IncludePath / Define
CompileFlags:
  Add:
    - "--target=arm-arm-none-eabi"
    - "-mcpu=cortex-m0"
    - "-DCLIENT_ITEM_SN=39140"
    - "-DPROJECT_NUMBER=140"
    - "-DCONFIG_SEL=39"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/common/Device"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/chip/OB90A64M1/Library"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/config"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/hal"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/Project/Source_Code/device"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/i2c_software"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/utils"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/key"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/3rd/multi_button"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/3rd/multi_button/examples"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/system_timer"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/ob_log"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/config/board"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/config/item"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/config/item/item_info"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/task/task_key"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/bsp/bsp_key"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/protocol/handler"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/protocol"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/led"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/bsp/bsp_led"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/task/task_led"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/3rd/ringbuffer"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/3rd/rt-thread"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/task/task_uart"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/uart_queue"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/bsp/bsp_uart"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/module/module_uart"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/bsp/bsp_nfc"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/nfc"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/nfc/FM17622"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/task/task_nfc"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/bsp/bsp_fingerprint"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/fingerprint"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/module/module_fp"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/task/task_fingerprint"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/bsp/bsp_face"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/face"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/face/face_st"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/module/module_face"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/task/task_face"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/soft_uart"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/soft_uart/simu_uart"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/soft_uart/soft_uart_finger"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/soft_uart/soft_uart_log"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/radar"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/radar/iic_radar"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/task/task_radar"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/bsp/bsp_radar"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/module/module_radar"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/task/task_system_time"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/bsp/bsp_system_time"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/bsp/bsp_sleep"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/sleep"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/task/task_sleep"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/task/task_qp_fsm"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/bsp/bsp_qp_fsm"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/fsm/event"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/fsm/qp_frame"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/fsm/state"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/key/key_board"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/key/key_board/GTX314L"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/key/tamper_key"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/bsp/bsp_flash"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/flash"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/task/task_flash"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/dual_sector"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/parameter"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/task/task_protocol"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/spi_software"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/app/protocol_func_card"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/common/CMSIS/5.4.0"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/common/Library"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/common/ota_helper"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/radar/iic_radar/include"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/radar/io_radar/include"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/lock_uart"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/common/encrypt"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/3rd/sfud/src"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/3rd/sfud/inc"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/bsp/bsp_sfud"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/module/module_spi_flash"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/module/module_flash_data"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/app/parameter"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/app/user"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/bsp/bsp_player"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/module/module_player"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/task/task_player"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/bsp/bsp_hmi"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/module/module_hmi"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/task/task_hmi"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/bsp/bsp_motor"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/motor"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/task/task_motor"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/module/module_motor"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/fsm/menu"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/bsp/bsp_battery"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/module/module_battery"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/task/task_battery"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/module/module_lock_log"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/test"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/bsp/bsp_produce_test"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/drive/produce_test"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/module/module_produce_test"
    - "-IF:/word file/DDL616/ai_smlk_arm/ai_smlk_arm/application/task/task_produce_test"
    - "-IC:/Keil_v5/ARM/ARMCLANG/include"
    - "-IC:/Keil_v5/ARM/ARMCLANG/lib/clang/13.0.0/include"

# 工程用 armcc --c99 --gnu 编译，标准只对 .c 源文件设置
---
If:
  PathMatch: .*\.c$
CompileFlags:
  Add:
    - "-std=gnu99"
